<form [formGroup]="establishmentForm2" (ngSubmit)="onSubmitEst2()">
  <span formGroupName="ClinicTwoTimings">
    <div class="row col-md-12 pt-5">
      <div class="col-md-3">
        <mat-form-field appearance="fill">
          <mat-label>Clinic Name</mat-label>
          <input
            type="text"
            matInput
            maxlength="100"
            formControlName="ClinicName"
            [ngClass]="{
              'is-invalid':
                submitted && ec1.get('ClinicTwoTimings.ClinicName').errors
            }"
          />
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Clinic Location</mat-label>
          <input
            type="text"
            matInput
            ngx-google-places-autocomplete
            [options]="options"
            (onAddressChange)="AddressChange($event)"
            formControlName="ClinicLocation"
            [ngClass]="{
              'is-invalid':
                submitted && ec1.get('ClinicTwoTimings.ClinicLocation').errors
            }"
          /><mat-icon
            matSuffix
            matTooltip="Address selction from dropdown is mandatory. Do not typein the address directly..."
            matTooltipPosition="above"
            >info</mat-icon
          >
        </mat-form-field>
        <mat-error class="mateloc"
          >Select nearby location if your location is not found in the
          dropdown</mat-error
        >
        <span *ngIf="!clinicAddress">{{
          userData.ClinicTwoTimings.ClinicLocation.address
            ? userData.ClinicTwoTimings.ClinicLocation.address
            : ""
        }}</span>
        <span *ngIf="clinicAddress">{{ clinicAddress }}</span>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="fill">
          <mat-label>Consultation Duration</mat-label>
          <mat-select formControlName="ConsultationDurationC1">
            <mat-option
              *ngFor="let option of consultationDuration"
              [value]="option"
            >
              {{ option }} - Minutes
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="fill">
          <mat-label>Consultation Fees</mat-label>
          <input
            type="text"
            matInput
            formControlName="ConsultationFeesC1"
            maxlength="5"
            [ngClass]="{
              'is-invalid':
                submitted &&
                ec1.get('ClinicTwoTimings.ConsultationFeesC1').errors
            }"
          />
          <div
            *ngIf="
              submitted && ec1.get('ClinicTwoTimings.ConsultationFeesC1').errors
            "
            class="invalid-feedback"
          >
            <div
              *ngIf="
                ec1.get('ClinicTwoTimings.ConsultationFeesC1').errors.required
              "
            >
              Consultation Fees is required
            </div>
            <div
              *ngIf="
                ec1.get('ClinicTwoTimings.ConsultationFeesC1').errors.pattern
              "
            >
              Only numbers Allowed.
            </div>
            <div
              *ngIf="
                ec1.get('ClinicTwoTimings.ConsultationFeesC1').errors.minlength
              "
            >
              Consultation Fees requires 2 digits.
            </div>
          </div>
        </mat-form-field>
      </div>
      <div class="col-md-1">
        <mat-checkbox
          class="example-margin"
          (change)="enableDayCbt($event, 'Cbt')"
          formControlName="Cbt"
          >Break</mat-checkbox
        >
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="fill">
          <mat-label>Common Break Start Time</mat-label>
          <input
            [ngxTimepicker]="COBST"
            [min]="mintimeCBTS"
            [max]="maxtimeCBT"
            [format]="timeFormat"
            formControlName="ComBrStarttime"
            readonly
            matInput />
          <mat-icon matSuffix>schedule</mat-icon>
          <ngx-material-timepicker
            #COBST
            [preventOverlayClick]="preventOverlayClick"
            (timeSet)="changeTimeUnit($event, 'ComBrStarttime')"
          ></ngx-material-timepicker
        ></mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="fill">
          <mat-label>Break End Time</mat-label>
          <input
            [ngxTimepicker]="COBET"
            [min]="mintimeCBT"
            [max]="maxtimeCBT"
            [format]="timeFormat"
            formControlName="ComBrEndtime"
            readonly
            matInput />
          <mat-icon matSuffix>schedule</mat-icon>
          <ngx-material-timepicker
            #COBET
            [preventOverlayClick]="preventOverlayClick"
          ></ngx-material-timepicker
        ></mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-checkbox class="example-margin" formControlName="active"
          >Clinic2 Online Visibility:</mat-checkbox
        ><mat-label *ngIf="ec1.get('ClinicTwoTimings.active').value === true"
          ><strong>Active</strong></mat-label
        >
        <mat-label *ngIf="ec1.get('ClinicTwoTimings.active').value === false"
          ><strong>Inactive</strong></mat-label
        >
      </div>
      <div class="row">
        <div class="col-md-1">
          <mat-checkbox
            class="example-margin"
            (change)="enableDayMon($event, 'Mon')"
            formControlName="Monday"
            >Mon</mat-checkbox
          >
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="fill">
            <mat-label>Monday Start Time</mat-label>
            <input
              [ngxTimepicker]="STMon"
              [min]="mintimeDefault"
              [max]="maxtimeDefault"
              [format]="timeFormat"
              readonly
              formControlName="MonStarttime"
              matInput />
            <mat-icon matSuffix>schedule</mat-icon>
            <ngx-material-timepicker
              #STMon
              [preventOverlayClick]="preventOverlayClick"
              (timeSet)="changeTimeUnit($event, 'Mon')"
            ></ngx-material-timepicker
          ></mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="fill">
            <mat-label>Monday End Time</mat-label>
            <input
              [ngxTimepicker]="ETMon"
              [min]="mintimeMon"
              [max]="maxtimeDefault"
              [format]="timeFormat"
              formControlName="MonEndtime"
              readonly
              matInput />
            <mat-icon matSuffix>schedule</mat-icon>
            <ngx-material-timepicker
              #ETMon
              [preventOverlayClick]="preventOverlayClick"
              (timeSet)="changeTimeUnit($event, 'Mon')"
            ></ngx-material-timepicker
          ></mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
          <mat-checkbox
            class="example-margin"
            (change)="enableDayTue($event, 'Tue')"
            formControlName="Tuesday"
            >Tue</mat-checkbox
          >
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="fill">
            <mat-label>Tuesday Start Time</mat-label>
            <input
              [ngxTimepicker]="STTue"
              [min]="mintimeDefault"
              [max]="maxtimeDefault"
              [format]="timeFormat"
              formControlName="TueStarttime"
              readonly
              matInput />
            <mat-icon matSuffix>schedule</mat-icon>
            <ngx-material-timepicker
              #STTue
              [preventOverlayClick]="preventOverlayClick"
              (timeSet)="changeTimeUnit($event, 'Tue')"
            ></ngx-material-timepicker
          ></mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="fill">
            <mat-label>Tuesday End Time</mat-label>
            <input
              [ngxTimepicker]="ETTue"
              [min]="mintimeTue"
              [max]="maxtimeDefault"
              [format]="timeFormat"
              formControlName="TueEndtime"
              readonly
              matInput />
            <mat-icon matSuffix>schedule</mat-icon>
            <ngx-material-timepicker
              #ETTue
              [preventOverlayClick]="preventOverlayClick"
              (timeSet)="changeTimeUnit($event, 'Tue')"
            ></ngx-material-timepicker
          ></mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
          <mat-checkbox
            class="example-margin"
            (change)="enableDayWed($event, 'Wed')"
            formControlName="Wednesday"
            >Wed</mat-checkbox
          >
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="fill">
            <mat-label>Wednesday Start Time</mat-label>
            <input
              [ngxTimepicker]="STWed"
              [min]="mintimeDefault"
              [max]="maxtimeDefault"
              [format]="timeFormat"
              formControlName="WedStarttime"
              readonly
              matInput />
            <mat-icon matSuffix>schedule</mat-icon>
            <ngx-material-timepicker
              #STWed
              [preventOverlayClick]="preventOverlayClick"
              (timeSet)="changeTimeUnit($event, 'Wed')"
            ></ngx-material-timepicker
          ></mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="fill">
            <mat-label>Wednesday End Time</mat-label>
            <input
              [ngxTimepicker]="ETWed"
              [min]="mintimeWed"
              [max]="maxtimeDefault"
              [format]="timeFormat"
              formControlName="WedEndtime"
              readonly
              matInput />
            <mat-icon matSuffix>schedule</mat-icon>
            <ngx-material-timepicker
              #ETWed
              [preventOverlayClick]="preventOverlayClick"
              (timeSet)="changeTimeUnit($event, 'Wed')"
            ></ngx-material-timepicker
          ></mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
          <mat-checkbox
            class="example-margin"
            (change)="enableDayThu($event, 'Thu')"
            formControlName="Thursday"
            >Thu</mat-checkbox
          >
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="fill">
            <mat-label>Thursday Start Time</mat-label>
            <input
              [ngxTimepicker]="STThu"
              [min]="mintimeDefault"
              [max]="maxtimeDefault"
              [format]="timeFormat"
              formControlName="ThuStarttime"
              readonly
              matInput />
            <mat-icon matSuffix>schedule</mat-icon>
            <ngx-material-timepicker
              #STThu
              [preventOverlayClick]="preventOverlayClick"
              (timeSet)="changeTimeUnit($event, 'Thu')"
            ></ngx-material-timepicker
          ></mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="fill">
            <mat-label>Thursday End Time</mat-label>
            <input
              [ngxTimepicker]="ETThu"
              [min]="mintimeThu"
              [max]="maxtimeDefault"
              [format]="timeFormat"
              formControlName="ThuEndtime"
              readonly
              matInput />
            <mat-icon matSuffix>schedule</mat-icon>
            <ngx-material-timepicker
              #ETThu
              [preventOverlayClick]="preventOverlayClick"
              (timeSet)="changeTimeUnit($event, 'Thu')"
            ></ngx-material-timepicker
          ></mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
          <mat-checkbox
            class="example-margin"
            (change)="enableDayFri($event, 'Fri')"
            formControlName="Friday"
            >Fri</mat-checkbox
          >
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="fill">
            <mat-label>Friday Start Time</mat-label>
            <input
              [ngxTimepicker]="STFri"
              [min]="mintimeDefault"
              [max]="maxtimeDefault"
              [format]="timeFormat"
              formControlName="FriStarttime"
              readonly
              matInput />
            <mat-icon matSuffix>schedule</mat-icon>
            <ngx-material-timepicker
              #STFri
              [preventOverlayClick]="preventOverlayClick"
              (timeSet)="changeTimeUnit($event, 'Fri')"
            ></ngx-material-timepicker
          ></mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="fill">
            <mat-label>Friday End Time</mat-label>
            <input
              [ngxTimepicker]="ETFri"
              [min]="mintimeFri"
              [max]="maxtimeDefault"
              [format]="timeFormat"
              formControlName="FriEndtime"
              readonly
              matInput />
            <mat-icon matSuffix>schedule</mat-icon>
            <ngx-material-timepicker
              #ETFri
              [preventOverlayClick]="preventOverlayClick"
              (timeSet)="changeTimeUnit($event, 'Fri')"
            ></ngx-material-timepicker
          ></mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
          <mat-checkbox
            class="example-margin"
            (change)="enableDaySat($event, 'Sat')"
            formControlName="Saturday"
            >Sat</mat-checkbox
          >
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="fill">
            <mat-label>Saturday Start Time</mat-label>
            <input
              [ngxTimepicker]="STSat"
              [min]="mintimeDefault"
              [max]="maxtimeDefault"
              [format]="timeFormat"
              formControlName="SatStarttime"
              readonly
              matInput />
            <mat-icon matSuffix>schedule</mat-icon>
            <ngx-material-timepicker
              #STSat
              [preventOverlayClick]="preventOverlayClick"
              (timeSet)="changeTimeUnit($event, 'Sat')"
            ></ngx-material-timepicker
          ></mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="fill">
            <mat-label>Saturday End Time</mat-label>
            <input
              [ngxTimepicker]="ETSat"
              [min]="mintimeSat"
              [max]="maxtimeDefault"
              [format]="timeFormat"
              formControlName="SatEndtime"
              readonly
              matInput />
            <mat-icon matSuffix>schedule</mat-icon>
            <ngx-material-timepicker
              #ETSat
              [preventOverlayClick]="preventOverlayClick"
              (timeSet)="changeTimeUnit($event, 'Sat')"
            ></ngx-material-timepicker
          ></mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
          <mat-checkbox
            class="example-margin"
            (change)="enableDaySun($event, 'Sun')"
            formControlName="Sunday"
            >Sun</mat-checkbox
          >
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="fill">
            <mat-label>Sunday Start Time</mat-label>
            <input
              [ngxTimepicker]="STSun"
              [min]="mintimeDefault"
              [max]="maxtimeDefault"
              [format]="timeFormat"
              formControlName="SunStarttime"
              readonly
              matInput />
            <mat-icon matSuffix>schedule</mat-icon>
            <ngx-material-timepicker
              #STSun
              [preventOverlayClick]="preventOverlayClick"
              (timeSet)="changeTimeUnit($event, 'Sun')"
            ></ngx-material-timepicker
          ></mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="fill">
            <mat-label>Sunday End Time</mat-label>
            <input
              [ngxTimepicker]="ETSun"
              [min]="mintimeSun"
              [max]="maxtimeDefault"
              [format]="timeFormat"
              formControlName="SunEndtime"
              readonly
              matInput />
            <mat-icon matSuffix>schedule</mat-icon>
            <ngx-material-timepicker
              #ETSun
              [preventOverlayClick]="preventOverlayClick"
              (timeSet)="changeTimeUnit($event, 'Sun')"
            ></ngx-material-timepicker
          ></mat-form-field>
        </div>
      </div>
    </div>
  </span>
  <div class="float-start">
    <a
      mat-raised-button
      color="primary"
      href="javascript:void(0)"
      (click)="resetform()"
    >
      Reset </a
    >&nbsp;
    <button mat-raised-button color="primary" type="submit">Save</button>
  </div>
</form>
