/* You can add global styles to this file, and also import other style files */
@charset 'UTF-8';
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");
$base-color: #7c4bd2;
$base-color2: #c17bf8;
$text-color: #626262;
$font-size12: 12px;
$font-size14: 14px;
$font-size16: 16px;
$font-size18: 18px;

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
  font-family: Roboto !important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  overflow-x: hidden;
  color: $text-color !important;
}
a {
  color: #000;
  outline: 0px none;
  text-decoration: none;
}

.baseColor {
  color: $base-color !important;
}
.text-med :hover {
  color: none !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: #eee !important;
  border-width: 1px !important;
}
.mat-toolbar.mat-primary,
.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  background: $base-color !important;
}
.mat-toolbar.mat-primary,
.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary :hover {
  color: #fff !important;
}
.mat-flat-button.mat-primary.mat-button-disabled,
.mat-flat-button.mat-accent.mat-button-disabled,
.mat-flat-button.mat-warn.mat-button-disabled,
.mat-flat-button.mat-button-disabled.mat-button-disabled,
.mat-raised-button.mat-primary.mat-button-disabled,
.mat-raised-button.mat-accent.mat-button-disabled,
.mat-raised-button.mat-warn.mat-button-disabled,
.mat-raised-button.mat-button-disabled.mat-button-disabled,
.mat-fab.mat-primary.mat-button-disabled,
.mat-fab.mat-accent.mat-button-disabled,
.mat-fab.mat-warn.mat-button-disabled,
.mat-fab.mat-button-disabled.mat-button-disabled,
.mat-mini-fab.mat-primary.mat-button-disabled,
.mat-mini-fab.mat-accent.mat-button-disabled,
.mat-mini-fab.mat-warn.mat-button-disabled,
.mat-mini-fab.mat-button-disabled.mat-button-disabled {
  opacity: 0.6 !important;
  cursor: not-allowed !important;
}
.maincolor,
.text-med {
  color: $base-color !important;
}
.pointer {
  cursor: pointer !important;
  margin-top: -5px;
}
.text-primary a:hover {
  color: #fff !important;
}
.text-primary a:hover {
  color: #fff !important;
}
a:hover {
  color: inherit !important;
}
.social-icon li a:hover {
  background-color: $base-color !important;
  border-color: $base-color !important;
  color: #ffffff !important;
}
.login100-form-btn:hover {
  background: $base-color !important;
}
.theme-white .navbar-brand {
  color: $base-color !important;
}
.logo-white .navbar-header .logo-name {
  color: $base-color !important;
  font-weight: 600 !important;
  font-size: 18px;
}

.bld7 {
  font-weight: 700 !important;
}
[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

.icosize {
  font-size: 18px !important;
}
.bg {
  background-color: #ffffff;
}
.navbgfooter {
  background: linear-gradient(86deg, #377be2, #1d70e1 79%, #5bbfe9) !important;
}
.nav-link {
  padding: 0.5rem 1rem;
  color: #ffffff !important;
  text-decoration: none;
}
.fa-question-circle {
  font-size: 30px !important;
}
.wrapper {
  background-color: #e9eff4 !important;
}
.apiBtn {
  background-color: #fff !important;
  font-weight: 700 !important;
}
.btn-catchy {
  -webkit-box-shadow: 0 3px 6px 0 rgb(0 83 208 / 46%);
  box-shadow: 0 3px 6px 0 rgb(0 83 208 / 46%);
  color: #fefefe;
}
.cpywrite {
  font-size: 16px !important;
}
.logoico {
  font-size: 30px !important;
  font-weight: 400 !important;
}
.auth-bg {
  background-color: #f1f2f7 !important;
  background-image: none !important;
  height: auto !important;
}

.mt {
  margin-top: 5% !important;
}
.auth-content {
  height: auto !important;
}
.iti.separate-dial-code input {
  padding: 20px 0 20px 98px;
  width: 100% !important;
  border-radius: 5px !important;
  border: 1px solid #ced4da !important;
}
.iti {
  width: 100% !important;
}
.timepicker__header {
  height: auto !important;
  line-height: 0 !important;
  background-color: $base-color !important;
}
.clock-face__number > span.active,
.clock-face__clock-hand {
  background-color: $base-color !important;
  color: #ffffff !important;
}

.timepicker-button {
  color: $base-color !important;
}
.aon-med-team-area.aon-med-team-area1 {
  padding-top: 60px;
}
.aon-med-team-area {
  padding: 90px 0px;
  align-items: flex-start;
}
.bg-light-gray {
  background-color: #f6fbf8;
}
.section-head.center {
  text-align: center;
  margin: 0px auto 60px;
  max-width: 650px;
}
.section-head {
  position: relative;
}
.text-black {
  color: $text-color !important;
}

.site-footer.footer-light {
  background-color: $base-color;
  border-top: 1px solid #647772;
  color: #fff !important;
}
.footer-top-newsletter {
  padding-top: 80px;
}
.footer-light {
  background-color: #f8f5ff;
  color: #000;
}
.footer-light .logo-footer {
  margin-bottom: 25px;
  max-width: 240px;
}
.footer-light .footer-top {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media only screen and (max-width: 640px) {
  .footer-light .footer-top {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.footer-light .widget-title {
  font-family: "Mulish", sans-serif;
  color: #000;
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  position: relative;
}
.footer-light .widget-title:before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #000;
  width: 20px;
  height: 2px;
}
.footer-light .call-us {
  padding: 10px 20px 10px 0px;
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .footer-light .call-us {
    margin: 15px 0px;
  }
}
.footer-light .call-us i {
  display: block;
  font-size: 42px;
  line-height: 42px;
  margin-right: 10px;
}
.footer-light .call-us a {
  display: block;
  color: $base-color2;
  font-size: 28px;
  line-height: 28px;
  font-weight: 800;
}
.footer-light .social-icons {
  margin: 30px 0px 0px 0px;
}
.footer-light .social-icons li {
  display: inline-block;
}
.footer-light .social-icons li a {
  height: 30px;
  width: 30px;
  background-color: #000;
  line-height: 30px;
  padding: 0px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  border-radius: 50%;
  margin-right: 3px;
}
.footer-light .social-icons li a:hover {
  color: #fff;
  background-color: $base-color2;
}
.footer-light .footer-bottom {
  color: #fff;
  position: relative;
  z-index: 1;
}
.footer-light .footer-bottom .footer-bottom-info {
  display: flex;
  padding: 10px 0px;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 991px) {
  .footer-light .footer-bottom .footer-bottom-info {
    display: block;
  }
}
.footer-light .footer-bottom .footer-bottom-info .call-us {
  background-color: #000;
  border-left: 4px solid $base-color2;
  padding: 10px 20px;
}
@media (max-width: 991px) {
  .footer-light .footer-bottom .footer-bottom-info .call-us {
    margin: 15px 0px;
  }
}
.footer-light .footer-bottom .footer-bottom-info .call-us span {
  display: block;
  font-weight: 600;
  text-transform: uppercase;
}
.footer-light .footer-bottom .footer-bottom-info .call-us a {
  display: block;
  color: $base-color2;
  font-size: 28px;
  line-height: 28px;
  font-weight: 700;
}
.footer-light .footer-bottom .footer-copy-right .copyrights-text {
  color: #000;
  font-size: 14px;
}
.footer-light .copyrights-nav {
  list-style: none;
  display: block;
  margin-bottom: 0px;
}
.footer-light .copyrights-nav li {
  display: inline-block;
  margin-right: 8px;
}
.footer-light .copyrights-nav li:first-child {
  margin-left: 0;
}
.footer-light .copyrights-nav li:last-child {
  margin-right: 0;
}
.footer-light .copyrights-nav li:last-child:after {
  display: none;
}
.footer-light .copyrights-nav li:after {
  content: "/";
  position: relative;
  right: -8px;
  color: #000;
}
.footer-light .copyrights-nav li a {
  color: #000;
  font-size: 14px;
}
.footer-light .copyrights-nav li a:hover {
  color: $base-color2;
}
.footer-light .copyrights-nav li a:active {
  color: $base-color2;
}
.footer-light .copyrights-nav li a:focus {
  color: $base-color2;
}
.footer-light .copyrights-nav li.active a {
  color: #fff;
}
.footer-light .widget_address li {
  color: #000;
}
.footer-light .widget_address li i {
  color: #000;
  font-weight: normal;
}
.footer-light .widget_services ul li a {
  color: #000;
}
.footer-light .widget_services ul li a:hover {
  color: $base-color2;
}
.footer-light .recent-posts-entry .wt-post-info .wt-post-header a {
  color: #000;
}
.footer-light .recent-posts-entry .wt-post-info .wt-post-header a:hover {
  color: $base-color2;
}
.footer-light .recent-posts-entry .wt-post-info .wt-post-meta ul li {
  color: #6a6a6a;
}
.sf-site-link ul {
  list-style: none;
  margin: 0px;
}
.sf-site-link ul li {
  line-height: 30px;
}

.sf-site-link ul li a {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
@media only screen and (max-width: 767px) {
  .sf-site-link {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 575px) {
  .footer-top .row [class*="col-"]:last-child .sf-site-link {
    margin-bottom: 0px;
  }
}
.sf-footer-bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom {
  padding-bottom: 30px;
}
.sf-f-copyright {
  color: #535353;
  font-size: 14px;
  font-weight: 500;
}
.sf-footer-bottom-section .sf-f-social {
  position: relative;
  padding-left: 420px;
}
.sf-footer-bottom-section .sf-f-social:after {
  content: "";
  position: absolute;
  left: 0px;
  top: 50%;
  height: 1px;
  background-color: #022278;
  width: 390px;
}
.sf-footer-bottom-section .sf-f-social .socila-box {
  margin: 0px;
}
.sf-footer-bottom-section .sf-f-social .socila-box li {
  display: inline-block;
}
.sf-footer-bottom-section .sf-f-social .socila-box li a {
  color: #26418c;
  font-size: 22px;
  padding-right: 15px;
}
.sf-footer-bottom-section .sf-f-social .socila-box li:last-child a {
  padding-right: 0px;
}

@media only screen and (max-width: 1100px) {
  .sf-f-logo {
    display: table;
    margin: 0px auto 20px;
  }
  .sf-footer-bottom-section {
    display: block;
    text-align: center;
  }
  .sf-footer-bottom-section .sf-f-social::after {
    left: 0%;
    top: 0px;
    height: 1px;
    width: 100%;
  }
  .sf-footer-bottom-section .sf-f-social {
    padding: 20px 0px 0px;
    margin-top: 25px;
  }
}
@media only screen and (max-width: 1800px) {
  .aon-med-appoint-area .media img {
    left: calc(100% - 30%);
    max-width: 450px;
  }
}
@media only screen and (max-width: 1600px) {
  .aon-med-appoint-area .media img {
    left: calc(100% - 30%);
    max-width: 400px;
  }
}
@media only screen and (max-width: 1280px) {
  .aon-med-appoint-area .media img {
    display: none;
  }
}
@media (max-width: 768px) {
  .homedocBtn {
    margin-top: 20px !important;
  }
}
@media only screen and (max-width: 1200px) {
  .aon-med-srv-cat-section ul li {
    width: 25%;
  }
  .aon-med-srv-cat-section ul li:last-child {
    border-right: 1px solid #ebebeb;
  }
}
@media only screen and (max-width: 991px) {
  .aon-med-srv-cat-section ul li {
    width: 33.333%;
  }
}
@media only screen and (max-width: 767px) {
  .aon-med-srv-cat-section ul li {
    width: 50%;
  }
}
@media only screen and (max-width: 575px) {
  .aon-med-sevices-cat {
    padding: 20px 10px;
  }
  .aon-med-sevices-cat .media {
    height: 105px;
  }
}
@media only screen and (max-width: 575px) {
  .aon-med-working .media span img {
    width: 50px;
  }
}
@media only screen and (max-width: 420px) {
  .aon-med-working .media span {
    width: 100px;
    height: 90px;
  }
  .aon-med-working .media span img {
    width: 50px;
  }
}

@media only screen and (max-width: 1280px) {
  .aon-med-working {
    padding: 0px 30px;
  }
}

@media only screen and (max-width: 991px) {
  .aon-med-working {
    margin-bottom: 30px;
  }
}
.aon-f-title {
  padding-bottom: 10px;
  margin-bottom: 30px;
  font-size: 22px;
  position: relative;
}
.aon-f-title:after {
  position: absolute;
  left: 0px;
  bottom: 0px;
  content: "";
  width: 60px;
  height: 2px;
  background: $base-color2;
  display: table;
}
.footeraddress {
  font-size: $font-size14;
  line-height: 23px;
}
.footer-light .footer-bottom {
  color: #fff;
  position: relative;
  z-index: 1;
}
.aon-footer-bottom-area {
  border-top: 1px solid #aabcb7;
  color: #fff;
  padding-top: 30px;
}
.aon-footer-bottom-area {
  text-align: center;
}
.custom-error {
  color: red !important;
  margin-top: -15px;
}

@media only screen and (max-width: 600px) {
  .hm {
    display: none !important;
  }
}
