<nav #navbar class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a
        href="#"
        onClick="return false;"
        class="navbar-toggle collapsed"
        (click)="isNavbarCollapsed = !isNavbarCollapsed"
        aria-expanded="false"
      ></a>
      <a
        href="#"
        onClick="return false;"
        class="bars"
        (click)="mobileMenuSidebarOpen($event, 'overlay-open')"
      ></a>
      <a class="navbar-brand" href="javascript:void(0)">
        <!-- <mat-icon aria-hidden="false">medical_services</mat-icon> -->
        <img src="assets/images/medpallogo.png" width="50" />
        <span class="logo-name">Medpal</span>
      </a>
    </div>
    <div class="collapse navbar-collapse" [ngbCollapse]="isNavbarCollapsed">
      <ul class="float-start collapse-menu-icon">
        <li>
          <button
            mat-icon-button
            (click)="callSidemenuCollapse()"
            class="sidemenu-collapse"
          >
            <i class="nav-hdr-btn ti-align-left"></i>
          </button>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- Full Screen Button -->
        <li class="fullscreen">
          <button
            mat-icon-button
            (click)="callFullscreen()"
            class="nav-notification-icons"
          >
            <i class="nav-hdr-btn ti-fullscreen"></i>
          </button>
        </li>
        <!-- <li class="nav-item" ngbDropdown>
          <a ngbDropdownToggle class="lang-dropdown">
            <img
              *ngIf="flagvalue !== undefined"
              src="{{ flagvalue }}"
              height="16"
            />
            <img
              *ngIf="flagvalue === undefined"
              src="{{ defaultFlag }}"
              height="16"
            />
          </a>
          <div
            ngbDropdownMenu
            class="dropdown-menu lang-item dropdown-menu-right pullDown"
          >
            <a
              href="javascript:void(0);"
              class="dropdown-item lang-item-list"
              *ngFor="let item of listLang"
              (click)="setLanguage(item.text, item.lang, item.flag)"
              [ngClass]="{ active: langStoreValue === item.lang }"
            >
              <img src="{{ item.flag }}" class="flag-img" height="12" />
              <span class="align-middle">{{ item.text }}</span>
            </a>
          </div>
        </li> -->
        <li class="nav-item" ngbDropdown *ngIf="userData?.role === 'Doctor'">
          <button
            mat-icon-button
            ngbDropdownToggle
            class="nav-notification-icons"
          >
            <i class="nav-hdr-btn ti-bell"></i>
            <span class="notify"></span>
            <span class="heartbeat"></span>
          </button>
          <div ngbDropdownMenu class="notification-dropdown pullDown">
            <div
              class="noti-list"
              style="position: relative; max-width: 600px; max-height: 250px"
              [perfectScrollbar]
            >
              <ul class="menu">
                <li>
                  <a href="#" onClick="return false;">
                    <span class="menu-info">
                      <span class="menu-title">Appointment1</span>
                      <span class="menu-desc">
                        <i class="material-icons"></i>
                        9:00 am
                      </span>
                      <span class="menu-desc">Booked</span>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
            <a
              class="text-center d-block border-top py-1"
              href="#"
              onClick="return false;"
              >Go to Appointments</a
            >
          </div>
        </li>
        <!-- #END# Notifications-->
        <li class="nav-item user_profile" ngbDropdown>
          <a
            href="#"
            onClick="return false;"
            ngbDropdownToggle
            role="button"
            class="nav-notification-icons pt-0"
          >
            <img
              *ngIf="!userData?.image.imageUrl"
              src="assets/images/user.jpg"
              class="rounded-circle"
              width="32"
              height="32"
              alt="User"
            />
            <img
              *ngIf="userData?.image.imageUrl"
              [src]="userData?.image.imageUrl"
              class="rounded-circle"
              width="32"
              height="32"
              alt="User"
            />
          </a>
          <div ngbDropdownMenu class="notification-dropdown pullDown">
            <div
              class="noti-list"
              style="position: relative; max-width: 600px; max-height: 300px"
              [perfectScrollbar]
            >
              <ul class="menu">
                <li class="body">
                  <ul class="user_dw_menu">
                    <li *ngIf="userData?.role === 'Doctor'">
                      <a
                        href="javascript:void(0)"
                        [routerLink]="['/doctors/profile-settings']"
                      >
                        <mat-icon aria-hidden="false" class="msr-2"
                          >person</mat-icon
                        >Profile Settings
                      </a>
                    </li>
                    <li *ngIf="userData?.role === 'Clinic/Hospital-User'">
                      <a
                        href="javascript:void(0);"
                        (click)="logout('Clinic/Hospital-Use')"
                      >
                        <mat-icon aria-hidden="false" class="msr-2"
                          >power_settings_new</mat-icon
                        >Logout
                      </a>
                    </li>
                    <li *ngIf="userData?.role === 'Doctor'">
                      <a href="javascript:void(0);" (click)="logout('Doctor')">
                        <mat-icon aria-hidden="false" class="msr-2"
                          >power_settings_new</mat-icon
                        >Logout
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <!-- #END# Tasks -->
      </ul>
    </div>
  </div>
</nav>
>
