<div class="container-fluid bg">
  <div class="row p-5">
    <div class="col-md-6">
      <h1 class="text-white maincolor">
        Welcome To <b style="letter-spacing: 2.5px">Medpal</b>.Live<br />
      </h1>
      <p class="text-white pl-5 maincolor">
        All heathcare appointments in one place for you. Unleash the power and
        value with Us.
      </p>

      <button mat-raised-button color="primary">
        I am a care Seeker <i class="fa fa-user-plus icosize"></i>
      </button>

      &nbsp;&nbsp;
      <button
        mat-raised-button
        class="homedocBtn"
        color="primary"
        [routerLink]="['/authentication/signin']"
      >
        I am a Doctor <i class="fa fa-user-md icosize"></i>
      </button>
    </div>
    <div class="col-md-6">
      <img
        src="../../../assets/images/landing_image.png"
        alt="Dell"
        class="img-fluid"
      />
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-md-6">
      <p class="pt-5">
        Develop and manage new software, faster, with API-centered architectures
        and modular software design through micro services.
      </p>
      <img
        class="mx-auto d-block"
        src="../../../assets/images/descImgLeft.png"
        alt="Dell"
        style="width: 300px"
      />
    </div>
    <div class="col-md-6 pt-5">
      <p>
        Develop and manage new software, faster, with API-centered architectures
        and modular software design through micro services.
      </p>
      <img
        class="mx-auto d-block"
        src="../../../assets/images/descImgRight.png"
        alt="Dell"
        style="width: 300px"
      />
    </div>
  </div>
</div> -->
