<div class="container-fluid p-0">
  <div class="row g-0">
    <div class="col-lg-4">
      <div class="auth-content p-4 d-flex align-items-center min-vh-100">
        <div class="w-100">
          <!-- <div class="d-flex flex-row-reverse bd-highlight bld7">
            <a [routerLink]="['../../home']" class="logo-full text-med"
              ><i class="fa fa-home"></i> Go Home</a
            >
          </div> -->
          <div class="row justify-content-center">
            <div class="col-lg-9">
              <div>
                <div class="text-center">
                  <img src="assets/images/medpallogo.png" width="70" />&nbsp;
                  <h1 class="baseColor">Medpal.Live</h1>
                  <h4 class="font-20 mt-4 baseColor">
                    Change {{ f.loginType.value }} profile Password
                  </h4>
                </div>

                <div class="p-2 mt-5">
                  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <!-- <div class="form-group auth-form-group mb-1">
                      <mat-form-field appearance="outline" style="width: 336px">
                        <mat-label>Login As</mat-label>
                        <select matNativeControl formControlName="loginType">
                          <option value="Doctor">Doctor</option>
                          <option value="Hospital Doctor">
                            Hospital Doctor
                          </option>
                          <option value="Hospital">Hospital</option>
                        </select>
                      </mat-form-field>
                    </div> -->
                    <div class="form-group auth-form-group mb-4">
                      <mat-icon
                        matSuffix
                        class="auth-page-icon"
                        (click)="togglePasswordVisibility()"
                        >{{
                          showPassword ? "visibility" : "visibility_off"
                        }}</mat-icon
                      >
                      <input
                        [type]="showPassword ? 'text' : 'password'"
                        formControlName="password"
                        class="form-control auth-control"
                        id="password"
                        [ngClass]="{
                          'is-invalid': submitted && f.password.errors
                        }"
                        placeholder="New password"
                      />
                      <div
                        *ngIf="submitted && f.password.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.password.errors.required">
                          Password is required
                        </div>
                        <div *ngIf="f.password.errors.minlength">
                          Password must be at least 6 characters
                        </div>
                      </div>
                    </div>

                    <div class="form-group auth-form-group mb-4">
                      <mat-icon
                        matSuffix
                        class="auth-page-icon"
                        (click)="togglePasswordVisibility()"
                        >{{
                          showPassword ? "visibility" : "visibility_off"
                        }}</mat-icon
                      >
                      <input
                        [type]="showPassword ? 'text' : 'password'"
                        formControlName="confirmPassword"
                        class="form-control auth-control"
                        id="confirmPassword"
                        [ngClass]="{
                          'is-invalid': submitted && f.confirmPassword.errors
                        }"
                        placeholder="Confirm new password"
                      />
                      <div
                        *ngIf="submitted && f.confirmPassword.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.confirmPassword.errors.required">
                          Confirm Password is required
                        </div>
                        <div *ngIf="f.confirmPassword.errors.mustMatch">
                          Passwords must match
                        </div>
                      </div>
                    </div>

                    <div class="container-login100-form-btn">
                      <button
                        mat-flat-button
                        color="primary"
                        class="login100-form-btn"
                        type="submit"
                      >
                        Reset My Password
                      </button>
                    </div>
                  </form>
                </div>

                <div class="mt-5 text-center">
                  <!-- <p>
                    Login Here?
                    <a
                      [routerLink]="['/authentication/signin']"
                      [queryParams]="{ loginType: f.loginType.value }"
                      class="font-weight-medium text-primary bld7"
                    >
                      Log in
                    </a>
                  </p> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="auth-bg d-flex align-items-center justify-content-center">
        <img
          src="../../../assets/images/doctorloginimg.png"
          alt="Dell"
          class="img-fluid mt-5"
          width="400"
        />
      </div>
    </div>
  </div>
</div>
