<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Doctors - Dashboard</strong> Report -
              <mat-label class="fw-bold">Last Login: {{ lastLogin }}</mat-label>
            </h2>
            <button
              mat-button
              [matMenuTriggerFor]="menu"
              class="header-dropdown"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button
                mat-menu-item
                (click)="getAllDoctorAppoinmentsById('Clinic1')"
              >
                Clinic 1
              </button>
              <button
                mat-menu-item
                (click)="getAllDoctorAppoinmentsById('Clinic2')"
              >
                Clinic 2
              </button>
            </mat-menu>
          </div>
          <div class="body">
            <div class="text-center">
              <div class="row clearfix">
                <div class="col-lg-4 col-md-4">
                  <h2 class="font-25 col-green">
                    {{ getAppointments.length ? getAppointments.length : 0 }}
                  </h2>
                  <small>
                    <i class="fas fa-arrow-up col-green"></i> Total Appointments
                    booked</small
                  >
                </div>
                <div class="col-lg-4 col-md-4">
                  <h2 class="font-25 col-red">
                    {{ pending.length ? pending.length : 0 }}
                  </h2>
                  <small>
                    <i class="fas fa-arrow-up col-red"></i> OnGoing
                    Appointments</small
                  >
                </div>
                <div class="col-lg-4 col-md-4">
                  <h2 class="font-25 col-green">
                    {{ closed.length ? closed.length : 0 }}
                  </h2>
                  <small>
                    <i class="fas fa-arrow-up col-green"></i> Closed
                    Appointments</small
                  >
                </div>
              </div>
            </div>
            <!-- <div class="recent-report__chart">
              <canvas
                baseChart
                [chartType]="'line'"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [legend]="true"
                height="300"
              >
              </canvas>
            </div> -->
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
              <div class="card">
                <div class="header">
                  <h2>Chart Report</h2>
                </div>
                <div class="body">
                  <div id="chart">
                    <apx-chart
                      [series]="pieChartOptions.series2"
                      [chart]="pieChartOptions.chart"
                      [labels]="pieChartOptions.labels"
                      [responsive]="pieChartOptions.responsive"
                      [dataLabels]="pieChartOptions.dataLabels"
                      [legend]="pieChartOptions.legend"
                      class="apex-pie-center"
                    >
                    </apx-chart>
                  </div>
                  <div class="table-responsive m-t-15">
                    <table class="table align-items-center">
                      <tbody>
                        <tr>
                          <td>
                            <i class="fa fa-circle col-green msr-2"></i>Booked
                          </td>
                          <td>
                            {{
                              getAppointments.length
                                ? getAppointments.length
                                : 0
                            }}
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <i class="fa fa-circle col-red msr-2"></i> Ongoing
                          </td>
                          <td>{{ pending.length ? pending.length : 0 }}</td>
                        </tr>
                        <tr>
                          <td>
                            <i class="fa fa-circle col-green msr-2"></i> Closed
                          </td>
                          <td>{{ closed.length ? closed.length : 0 }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
