<section class="content">
  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header m-0">
            <div class="row">
              <div class="col-md-3">
                <h2 translate><strong>Book</strong> Appointments</h2>
              </div>
            </div>
          </div>
          <div class="body" *ngIf="showdoc">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td>
                    <img
                      *ngIf="doctorData?.image.imageUrl"
                      height="60"
                      class="img-responsive"
                      src="{{ doctorData.image.imageUrl }}"
                      alt="Medpal"
                    />
                    <img
                      *ngIf="!doctorData?.image.imageUrl"
                      src="../../../assets/images/user.jpg"
                      alt="Medpal"
                    />
                  </td>
                  <td>
                    <strong>Dr. {{ doctorData.firstName }}</strong>
                    &nbsp;<br />
                    <span
                      *ngIf="doctorData.graduation.Graduation === 'PG'"
                      class="fst-italic font-monospace"
                    >
                      ({{ doctorData.graduation.qualificationUG.sName }}
                      -
                      {{ doctorData.graduation.qualificationPG.sName }}
                      -
                      {{ doctorData.graduation.specialisationPG.name }})
                    </span>
                    <span
                      *ngIf="doctorData.graduation.Graduation === 'UG'"
                      class="fst-italic font-monospace"
                    >
                      ({{ doctorData.graduation.qualificationUG.sName }})
                    </span>

                    <span>{{ doctorData.graduation.DoctorType.name }}</span>
                    <p *ngIf="clinicSelection === 'Clinic1'">
                      <i class="fa fa-map-marker" aria-hidden="true"></i>
                      {{ doctorData.ClinicOneTimings.ClinicLocation.address }}
                    </p>
                    <p *ngIf="clinicSelection === 'Clinic2'">
                      <i class="fa fa-map-marker" aria-hidden="true"></i>
                      {{ doctorData.ClinicTwoTimings.ClinicLocation.address }}
                    </p>
                  </td>
                  <td>
                    <span *ngIf="clinicSelection === 'Clinic1'"
                      ><strong
                        >&#8377;
                        {{
                          doctorData.ClinicOneTimings.ConsultationFeesC1
                        }}</strong
                      ></span
                    >
                    <span *ngIf="clinicSelection === 'Clinic2'"
                      ><strong
                        >&#8377;
                        {{
                          doctorData.ClinicTwoTimings.ConsultationFeesC1
                        }}</strong
                      ></span
                    >
                  </td>
                  <td>
                    <form [formGroup]="clinincForm" (ngSubmit)="onSubmit()">
                      <mat-form-field
                        appearance="outline"
                        class="example-full-width"
                      >
                        <mat-label>Select Clinic</mat-label>
                        <mat-select
                          formControlName="clinic"
                          (selectionChange)="
                            clninicSelect(doctorData, $event.value)
                          "
                        >
                          <mat-option
                            *ngFor="let ClinicName of clinics"
                            [value]="ClinicName"
                          >
                            {{ ClinicName }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </form>
                  </td>
                </tr>
              </tbody>
            </table>
            <div *ngIf="showStepper">
              <mat-stepper
                [linear]="true"
                #stepper
                (selectionChange)="stepperChange($event)"
              >
                <mat-step
                  [stepControl]="firstFormGroup"
                  [editable]="editable"
                  errorMessage="Slot is required."
                >
                  <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Available Slots</ng-template>
                    <div class="container-fluid mt-2">
                      <div class="row d-flex justify-content-center">
                        <div class="col-md-3">
                          <mat-form-field
                            class="example-full-width"
                            appearance="outline"
                          >
                            <mat-label>Choose Appointment Date</mat-label>
                            <input
                              id="appointdate"
                              matInput
                              [min]="minDate"
                              [max]="maxDate"
                              [matDatepicker]="picker"
                              [readonly]="true"
                              formControlName="appointmentDate"
                              (dateChange)="getDay($event)"
                            />
                            <mat-hint>DD/MM/YYYY</mat-hint>
                            <mat-datepicker-toggle
                              matSuffix
                              [for]="picker"
                            ></mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker></mat-datepicker>
                          </mat-form-field>
                        </div>
                        <div
                          class="d-flex justify-content-center"
                          *ngIf="finalTimeslot.length == 0 && timingSlotsFlag"
                        >
                          <div
                            class="alert alert-danger col-md-5 fw-bold text-center mt-3"
                            role="alert"
                          >
                            Clinic is not functioning today. Kindly select
                            different date.
                          </div>
                        </div>
                        <mat-button-toggle-group
                          formControlName="slot"
                          aria-label="Available Slots"
                        >
                          <mat-button-toggle
                            (click)="slotToggle(time)"
                            *ngFor="let time of finalTimeslot"
                            [disabled]="time.disabled"
                            value="{{ time.Stime }}"
                            class="col-md-1 mattoggle"
                            >{{ time.Stime }}</mat-button-toggle
                          >
                        </mat-button-toggle-group>
                        <div class="mt-2">
                          <button
                            mat-raised-button
                            matStepperNext
                            color="primary"
                            (click)="checkvalFone()"
                          >
                            Next
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </mat-step>
                <mat-step
                  [stepControl]="thirdFormGroup"
                  [editable]="editable"
                  errorMessage="Appointment details is required."
                >
                  <ng-template matStepLabel
                    >Fill out Patient details</ng-template
                  >
                  <form [formGroup]="secondFormGroup">
                    <div
                      *ngIf="!submitted && !loggedIn"
                      class="row d-flex justify-content-center mt-4"
                    >
                      <div class="col-md-3 mb-0">
                        <mat-form-field appearance="outline">
                          <mat-label>Mobile No:(+91)</mat-label>
                          <mat-icon matPrefix> smartphone </mat-icon>
                          <input
                            matInput
                            formControlName="mobNo"
                            maxlength="10"
                            placeholder="Enter 10 digit without +91"
                            [ngClass]="{
                              'is-invalid': secSubmitted && t.mobNo.errors
                            }"
                          />
                          <mat-icon
                            matSuffix
                            matTooltip="+91- is not mandatory."
                            matTooltipPosition="above"
                            >info</mat-icon
                          >
                        </mat-form-field>
                        <div
                          *ngIf="secSubmitted && t.mobNo.errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="t.mobNo.errors.required">
                            Mobile no is required
                          </div>
                          <div *ngIf="t.mobNo.errors.pattern">
                            Only numbers allowed
                          </div>
                          <div *ngIf="t.mobNo.errors.minlength">
                            Mobile no must have 10 digits
                          </div>
                        </div>
                      </div>
                      <div class="w-100"></div>
                      <div
                        class="col-md-5 mb-3 text-center"
                        *ngIf="isOtpVisible && secondFormGroup.valid"
                      >
                        <mat-label>Enter OTP</mat-label><br />
                        <ng-otp-input
                          [formCtrl]="otpListCtrl"
                          [config]="config"
                        ></ng-otp-input>
                      </div>
                      <div class="w-100 mb-3"></div>
                      <div class="col-md-3">
                        <p *ngIf="otp">OTP: {{ otp }}</p>
                        <span
                          *ngIf="disableOtpBtn"
                          matBadge="{{ timeLeft }}"
                          matBadgeOverlap="true"
                          color="primary"
                        ></span>
                        <button
                          mat-raised-button
                          color="primary"
                          (click)="sendOtp()"
                          [disabled]="secondFormGroup.invalid || disableOtpBtn"
                        >
                          {{ otpBtnText }}
                        </button>
                        &nbsp;&nbsp;
                        <button
                          mat-raised-button
                          color="primary"
                          (click)="submitOtp()"
                          *ngIf="disableOtpBtn"
                        >
                          Submit
                        </button>
                      </div>
                    </div>
                  </form>

                  <form [formGroup]="thirdFormGroup">
                    <div
                      *ngIf="submitted && loggedIn"
                      class="row d-flex justify-content-center mt-4"
                    >
                      <!-- <div class="col-md-3 mb-3">
                        <mat-label class="bookforme"
                          >Book for Me&nbsp;</mat-label
                        >
                        <mat-slide-toggle
                          color="primary"
                          formControlName="appointmentFor"
                          (change)="bookfortoggle($event.checked)"
                          >Book for Others</mat-slide-toggle
                        >
                      </div> -->

                      <div class="w-100"></div>
                      <div class="col-md-3 mb-2">
                        <mat-form-field appearance="outline">
                          <mat-label> First Name</mat-label>
                          <mat-icon matPrefix class="form-icon">face</mat-icon>
                          <input
                            type="text"
                            matInput
                            formControlName="firstName"
                            maxlength="40"
                            autocomplete="off"
                          />
                        </mat-form-field>
                        <div
                          *ngIf="submitted && g.firstName.errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="g.firstName.errors.required">
                            First name is required.
                          </div>
                          <div *ngIf="g.firstName.errors.pattern">
                            Nos & special characters is not allowed.
                          </div>
                          <div *ngIf="g.firstName.errors.minlength">
                            First name requires 3 characters.
                          </div>
                        </div>
                      </div>
                      <div class="w-100"></div>
                      <div class="col-md-3 mb-2">
                        <mat-form-field appearance="outline">
                          <mat-label>
                            Email Address<span class="spanitalics"> </span
                          ></mat-label>
                          <mat-icon matPrefix class="form-icon">email</mat-icon>
                          <input
                            type="email"
                            matInput
                            formControlName="email"
                            autocomplete="off"
                            maxlength="200"
                          />
                        </mat-form-field>
                        <div
                          *ngIf="submitted && g.email.errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="g.email.errors.required">
                            Email is required.
                          </div>
                          <div *ngIf="g.email.errors.pattern">
                            Email address is invalid
                          </div>
                        </div>
                      </div>
                      <div class="w-100"></div>
                      <div class="col-md-3">
                        <mat-form-field appearance="outline">
                          <mat-label> Mobile No:(+91)</mat-label>
                          <mat-icon matPrefix> smartphone </mat-icon>
                          <input
                            matInput
                            formControlName="primaryMobile"
                            maxlength="10"
                            placeholder="Enter 10 digit without +91"
                            [ngClass]="{
                              'is-invalid': submitted && g.primaryMobile.errors
                            }"
                          />
                          <mat-icon
                            matSuffix
                            matTooltip="+91- is not mandatory."
                            matTooltipPosition="above"
                            >info</mat-icon
                          >
                        </mat-form-field>
                        <div
                          *ngIf="submitted && g.primaryMobile.errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="g.primaryMobile.errors.required">
                            Mobile no is required
                          </div>
                          <div *ngIf="g.primaryMobile.errors.pattern">
                            Only numbers allowed
                          </div>
                          <div *ngIf="g.primaryMobile.errors.minlength">
                            Mobile no must have 10 digits
                          </div>
                        </div>
                      </div>
                      <div class="w-100"></div>
                      <div class="col-md-3 mb-2 fw-bold text-uppercase font12">
                        Appointment Date:
                        <span class="appdatecolor fw-bold"
                          >{{ f.bookedDay.value }} - {{ f.bookedDate.value }} -
                          Slot: {{ f.slot.value }}</span
                        >
                      </div>
                      <div class="w-100"></div>
                      <div class="col-md-3 mb-3">
                        <mat-checkbox
                          formControlName="confirmbooking"
                          color="primary"
                        >
                          Confirm Booking
                        </mat-checkbox>
                      </div>
                      <div class="w-100"></div>
                      <div class="col-md-3">
                        <button
                          mat-raised-button
                          color="primary"
                          (click)="submit()"
                          [disabled]="thirdFormGroup.invalid"
                        >
                          Book Now
                        </button>
                        &nbsp;&nbsp;
                        <button
                          type="button"
                          matStepperPrevious
                          class="btn btn-secondary float-end"
                        >
                          Back
                        </button>
                      </div>
                      <div class="w-100"></div>
                    </div>
                  </form>
                </mat-step>
                <mat-step [isEditable]="isEditable" class="done">
                  <ng-template matStepLabel>Done</ng-template>

                  <div class="container">
                    <div class="row d-flex justify-content-center mt-3">
                      <div class="col-md-6">
                        <p class="alert alert-success text-center">
                          <mat-icon class="material-symbols-outlined">
                            add_task
                          </mat-icon>
                          Appointment Booked Successfully....
                        </p>
                        <table
                          class="table table-hover"
                          *ngIf="appoinmentDetails"
                        >
                          <thead>
                            <tr>
                              <th scope="col" colspan="2">
                                # Appointment Details
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">1</th>
                              <td style="width: 150px">
                                <i class="fa fa-user icosize"></i> Patient Name
                              </td>
                              <td>
                                {{ appoinmentDetails.firstName }}
                              </td>
                            </tr>
                            <tr>
                              <th scope="row">2</th>
                              <td style="width: 150px">
                                <i class="fa fa-phone icosize"></i> Patient
                                Mobile
                              </td>
                              <td>
                                {{ appoinmentDetails.primaryMobile }}
                              </td>
                            </tr>
                            <tr>
                              <th scope="row">3</th>
                              <td>
                                <i class="fa fa-calendar icosize"></i> Date/Time
                              </td>
                              <td>
                                {{ appoinmentDetails.bookedDate }} -
                                {{ appoinmentDetails.bookedDay }} at
                                <strong>{{ appoinmentDetails.slot }}</strong>
                              </td>
                            </tr>
                            <tr>
                              <th scope="row">4</th>
                              <td>
                                <i class="fa fa-inr icosize"></i> Consultation
                                Fees
                              </td>
                              <td>
                                <i class="fa fa-inr icosize"></i>
                                {{ appoinmentDetails.consultingFees }}
                              </td>
                            </tr>
                            <tr>
                              <th scope="row">5</th>
                              <td>
                                <i class="fa fa-address-card icosize"></i>
                                Clinic & Address
                              </td>
                              <td>
                                <div>{{ clinicSelection }}</div>
                                <div>
                                  <span class="fw-bold">Address:</span>
                                  {{ appoinmentDetails.ClinicAddress.address }}
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td colspan="3">
                                <button
                                  type="button"
                                  mat-raised-button
                                  color="primary"
                                  (click)="resetForm(); stepper.reset()"
                                >
                                  Book Again
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </mat-step>
              </mat-stepper>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
