.example-full-width {
  width: 100%;
}
#cdk-overlay-1 {
  width: auto !important;
}
:host ::ng-deep .ck-editor__editable_inline {
  min-height: 400px;
}
.mbdata {
  font-style: italic;
  font-size: 12px;
}
table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
.green {
  color: green !important;
}
.red {
  color: red !important;
}
.selectImg {
  border-radius: 50% !important;
  width: 50px;
  height: 50px;
}
.mat-option {
  height: 60px !important;
}
