<div class="container-fluid bg">
  <div class="row">
    <div class="aon-search2-bar-wrap">
      <div class="container">
        <div class="aon-search2-row">
          <form class="aon-search2-form no-p-lr row justify-content-between">
            <div class="col-md-5">
              <mat-form-field
                appearance="outline"
                class="full-width-field form-controlbg border-red"
              >
                <mat-label>Search doctors, clinics, hospitals, etc.</mat-label>
                <input type="text" matInput maxlength="20" />
                <mat-icon matPrefix class="my-icon">local_hospital</mat-icon>
              </mat-form-field>
            </div>

            <div class="col-md-5">
              <mat-form-field
                appearance="outline"
                class="full-width-field form-controlbg border-red"
              >
                <mat-label>Search Location.</mat-label>
                <input type="text" matInput maxlength="20" />
                <mat-icon matPrefix class="my-icon">my_location</mat-icon>
              </mat-form-field>
            </div>

            <div class="col-md-2 mt-3">
              <button mat-raised-button color="primary" type="submit">
                Search
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="aon-search-info-wrap">
  <div class="container">
    <h3 class="aon-searchInfo-title">1389 doctors available in US</h3>
    <div class="aon-searchInfo-text">
      <i class="fa fa-check"></i> Book appointments with minimum wait-time &amp;
      verified doctor details
    </div>
  </div>
</div>

<div class="aon-page-jobs-wrap">
  <div class="container">
    <div class="row">
      <!-- Left part start -->
      <div class="col-lg-8">
        <div class="sf-listing-view-wrap">
          <!-- COLUMNS 1 -->
          <div class="sf-listing-view">
            <div class="sf-listing-media-wrap">
              <div class="sf-listing-media">
                <a href="javascript:void()" [routerLink]="['/doctorsProfile/']"
                  ><img
                    src="../../../assets/../../../assets/images/team/pic1.jpg"
                    alt=""
                /></a>
                <i class="fa fa-check"></i>
                <a
                  href="javascript:void()"
                  [routerLink]="['/doctorsProfile/']"
                  class="sf-doc-profile-view"
                  >View Profile</a
                >
              </div>
            </div>

            <div class="sf-listing-info">
              <h3>Dr. Viniita Jhuntra</h3>
              <div class="sf-doct-info">
                <span>Anesthesiology</span> (ph.D, DPT, MS OMPT)
              </div>
              <div class="sf-doc-exp">33 year experience overall</div>
              <div class="sf-medi-rate">
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star text-gray"></span>
                <span class="sf-rating-lable">3 Feedback</span>
              </div>
            </div>

            <div class="sf-listing-info-right">
              <div class="sf-listing-con-details">
                <div class="sf-listing-con-timeing">
                  <i class="icon-clock icons"></i>
                  <span class="open">Mon,</span>
                  <span>Tue,</span>
                  <span>Wed,</span>
                  <span>Thu,</span>
                  <span>Fri,</span>
                  <span>Sat,</span>
                  <span class="close">Sun</span>
                </div>

                <div class="sf-listing-con-address">
                  <i class="icon-location-pin icons"></i>
                  <p><span>United States</span> 462 First Avenue NY 10016 US</p>
                </div>
                <div class="sf-medi-like">
                  <i class="icon-like icons"></i>&nbsp;
                  <span class="bage-green">93%</span>
                  <span>15 Patient Stories </span>
                </div>
              </div>
              <div class="sf-listing-right-footer">
                <a href="booking-form.html" class="site-button">
                  Book Appointment
                </a>
                <p><span>Note :-</span> No Booking Fee</p>
              </div>
            </div>
          </div>
          <!-- COLUMNS 2 -->
          <div class="sf-listing-view">
            <div class="sf-listing-media-wrap">
              <div class="sf-listing-media">
                <a href="javascript:void()" [routerLink]="['/doctorsProfile/']"
                  ><img src="../../../assets/images/team/pic2.jpg" alt=""
                /></a>
                <i class="fa fa-check"></i>
                <a
                  href="javascript:void()"
                  [routerLink]="['/doctorsProfile/']"
                  class="sf-doc-profile-view"
                  >View Profile</a
                >
              </div>
            </div>

            <div class="sf-listing-info">
              <h3>Dr. Zuliya Wood</h3>
              <div class="sf-doct-info">
                <span>Anesthesiology</span> (ph.D, DPT, MS OMPT)
              </div>
              <div class="sf-doc-exp">33 year experience overall</div>
              <div class="sf-medi-rate">
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star text-gray"></span>
                <span class="sf-rating-lable">3 Feedback</span>
              </div>
            </div>

            <div class="sf-listing-info-right">
              <div class="sf-listing-con-details">
                <div class="sf-listing-con-timeing">
                  <i class="icon-clock icons"></i>
                  <span class="open">Mon,</span>
                  <span>Tue,</span>
                  <span>Wed,</span>
                  <span>Thu,</span>
                  <span>Fri,</span>
                  <span>Sat,</span>
                  <span class="close">Sun</span>
                </div>

                <div class="sf-listing-con-address">
                  <i class="icon-location-pin icons"></i>

                  <p><span>United States</span> 462 First Avenue NY 10016 US</p>
                </div>
                <div class="sf-medi-like">
                  <i class="icon-like icons"></i>&nbsp;
                  <span class="bage-green">93%</span>
                  <span>15 Patient Stories </span>
                </div>
              </div>
              <div class="sf-listing-right-footer">
                <a href="booking-form.html" class="site-button">
                  Book Appointment
                </a>
                <p><span>Note :-</span> No Booking Fee</p>
              </div>
            </div>
          </div>
          <!-- COLUMNS 3 -->
          <div class="sf-listing-view">
            <div class="sf-listing-media-wrap">
              <div class="sf-listing-media">
                <a href="javascript:void()" [routerLink]="['/doctorsProfile/']"
                  ><img src="../../../assets/images/team/pic3.jpg" alt=""
                /></a>
                <i class="fa fa-check"></i>
                <a
                  href="javascript:void()"
                  [routerLink]="['/doctorsProfile/']"
                  class="sf-doc-profile-view"
                  >View Profile</a
                >
              </div>
            </div>

            <div class="sf-listing-info">
              <h3>Dr. Marya Smith</h3>
              <div class="sf-doct-info">
                <span>Anesthesiology</span> (ph.D, DPT, MS OMPT)
              </div>
              <div class="sf-doc-exp">33 year experience overall</div>
              <div class="sf-medi-rate">
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star text-gray"></span>
                <span class="sf-rating-lable">3 Feedback</span>
              </div>
            </div>

            <div class="sf-listing-info-right">
              <div class="sf-listing-con-details">
                <div class="sf-listing-con-timeing">
                  <i class="icon-clock icons"></i>
                  <span class="open">Mon,</span>
                  <span>Tue,</span>
                  <span>Wed,</span>
                  <span>Thu,</span>
                  <span>Fri,</span>
                  <span>Sat,</span>
                  <span class="close">Sun</span>
                </div>

                <div class="sf-listing-con-address">
                  <i class="icon-location-pin icons"></i>
                  <p><span>United States</span> 462 First Avenue NY 10016 US</p>
                </div>
                <div class="sf-medi-like">
                  <i class="icon-like icons"></i>&nbsp;
                  <span class="bage-green">93%</span>
                  <span>15 Patient Stories </span>
                </div>
              </div>
              <div class="sf-listing-right-footer">
                <a href="booking-form.html" class="site-button">
                  Book Appointment
                </a>
                <p><span>Note :-</span> No Booking Fee</p>
              </div>
            </div>
          </div>
          <!-- COLUMNS 4 -->
          <div class="sf-listing-view">
            <div class="sf-listing-media-wrap">
              <div class="sf-listing-media">
                <a href="javascript:void()" [routerLink]="['/doctorsProfile/']"
                  ><img src="../../../assets/images/team/pic4.jpg" alt=""
                /></a>
                <i class="fa fa-check"></i>
                <a
                  href="javascript:void()"
                  [routerLink]="['/doctorsProfile/']"
                  class="sf-doc-profile-view"
                  >View Profile</a
                >
              </div>
            </div>

            <div class="sf-listing-info">
              <h3>Dr. David Chua</h3>
              <div class="sf-doct-info">
                <span>Anesthesiology</span> (ph.D, DPT, MS OMPT)
              </div>
              <div class="sf-doc-exp">33 year experience overall</div>
              <div class="sf-medi-rate">
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star text-gray"></span>
                <span class="sf-rating-lable">3 Feedback</span>
              </div>
            </div>

            <div class="sf-listing-info-right">
              <div class="sf-listing-con-details">
                <div class="sf-listing-con-timeing">
                  <i class="icon-clock icons"></i>
                  <span class="open">Mon,</span>
                  <span>Tue,</span>
                  <span>Wed,</span>
                  <span>Thu,</span>
                  <span>Fri,</span>
                  <span>Sat,</span>
                  <span class="close">Sun</span>
                </div>

                <div class="sf-listing-con-address">
                  <i class="icon-location-pin icons"></i>
                  <p><span>United States</span> 462 First Avenue NY 10016 US</p>
                </div>
                <div class="sf-medi-like">
                  <i class="icon-like icons"></i>&nbsp;
                  <span class="bage-green">93%</span>
                  <span>15 Patient Stories </span>
                </div>
              </div>
              <div class="sf-listing-right-footer">
                <a href="booking-form.html" class="site-button">
                  Book Appointment
                </a>
                <p><span>Note :-</span> No Booking Fee</p>
              </div>
            </div>
          </div>
          <!-- COLUMNS 5 -->
          <div class="sf-listing-view">
            <div class="sf-listing-media-wrap">
              <div class="sf-listing-media">
                <a href="javascript:void()" [routerLink]="['/doctorsProfile/']"
                  ><img src="../../../assets/images/team/pic5.jpg" alt=""
                /></a>
                <i class="fa fa-check"></i>
                <a
                  href="javascript:void()"
                  [routerLink]="['/doctorsProfile/']"
                  class="sf-doc-profile-view"
                  >View Profile</a
                >
              </div>
            </div>

            <div class="sf-listing-info">
              <h3>Dr. Darren Elder</h3>
              <div class="sf-doct-info">
                <span>Anesthesiology</span> (ph.D, DPT, MS OMPT)
              </div>
              <div class="sf-doc-exp">33 year experience overall</div>
              <div class="sf-medi-rate">
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star text-gray"></span>
                <span class="sf-rating-lable">3 Feedback</span>
              </div>
            </div>

            <div class="sf-listing-info-right">
              <div class="sf-listing-con-details">
                <div class="sf-listing-con-timeing">
                  <i class="icon-clock icons"></i>
                  <span class="open">Mon,</span>
                  <span>Tue,</span>
                  <span>Wed,</span>
                  <span>Thu,</span>
                  <span>Fri,</span>
                  <span>Sat,</span>
                  <span class="close">Sun</span>
                </div>

                <div class="sf-listing-con-address">
                  <i class="icon-location-pin icons"></i>
                  <p><span>United States</span> 462 First Avenue NY 10016 US</p>
                </div>
                <div class="sf-medi-like">
                  <i class="icon-like icons"></i>&nbsp;
                  <span class="bage-green">93%</span>
                  <span>15 Patient Stories </span>
                </div>
              </div>
              <div class="sf-listing-right-footer">
                <a href="booking-form.html" class="site-button">
                  Book Appointment
                </a>
                <p><span>Note :-</span> No Booking Fee</p>
              </div>
            </div>
          </div>
          <!-- COLUMNS 6 -->
          <div class="sf-listing-view">
            <div class="sf-listing-media-wrap">
              <div class="sf-listing-media">
                <a href="javascript:void()" [routerLink]="['/doctorsProfile/']"
                  ><img src="../../../assets/images/team/pic6.jpg" alt=""
                /></a>
                <i class="fa fa-check"></i>
                <a
                  href="javascript:void()"
                  [routerLink]="['/doctorsProfile/']"
                  class="sf-doc-profile-view"
                  >View Profile</a
                >
              </div>
            </div>

            <div class="sf-listing-info">
              <h3>Dr. Viniita Jhuntra</h3>
              <div class="sf-doct-info">
                <span>Anesthesiology</span> (ph.D, DPT, MS OMPT)
              </div>
              <div class="sf-doc-exp">33 year experience overall</div>
              <div class="sf-medi-rate">
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star text-gray"></span>
                <span class="sf-rating-lable">3 Feedback</span>
              </div>
            </div>

            <div class="sf-listing-info-right">
              <div class="sf-listing-con-details">
                <div class="sf-listing-con-timeing">
                  <i class="icon-clock icons"></i>
                  <span class="open">Mon,</span>
                  <span>Tue,</span>
                  <span>Wed,</span>
                  <span>Thu,</span>
                  <span>Fri,</span>
                  <span>Sat,</span>
                  <span class="close">Sun</span>
                </div>

                <div class="sf-listing-con-address">
                  <i class="icon-location-pin icons"></i>
                  <p><span>United States</span> 462 First Avenue NY 10016 US</p>
                </div>
                <div class="sf-medi-like">
                  <i class="icon-like icons"></i>&nbsp;
                  <span class="bage-green">93%</span>
                  <span>15 Patient Stories </span>
                </div>
              </div>
              <div class="sf-listing-right-footer">
                <a href="booking-form.html" class="site-button">
                  Book Appointment
                </a>
                <p><span>Note :-</span> No Booking Fee</p>
              </div>
            </div>
          </div>

          <div class="site-pagination s-p-center">
            <ul class="pagination">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1"
                  ><i class="fa fa-chevron-left"></i
                ></a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item active">
                <a class="page-link" href="#"
                  >2 <span class="sr-only">(current)</span></a
                >
              </li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item">
                <a class="page-link" href="#"
                  ><i class="fa fa-ellipsis-h"></i
                ></a>
              </li>
              <li class="page-item"><a class="page-link" href="#">11</a></li>
              <li class="page-item">
                <a class="page-link" href="#"
                  ><i class="fa fa-chevron-right"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Left part END -->

      <!-- Side bar start -->
      <div class="col-lg-4">
        <aside class="side-bar">
          <!-- Search Filter-->
          <div class="sf-siderbar-map">
            <div class="search-filter-wrap">
              <!-- COLUMNS 1 -->
              <div class="search-filter-box">
                <h4 class="search-filter-title">Video Consult</h4>
                <div class="search-filter-content">
                  <div class="checkbox sf-radio-checkbox sf-radio-input">
                    <input id="lau1" name="abc" value="five" type="checkbox" />
                    <label for="lau1">Yes</label>
                  </div>
                </div>
              </div>
              <!-- COLUMNS 2 -->
              <div class="search-filter-box">
                <h4 class="search-filter-title">Availability</h4>
                <div class="search-filter-content">
                  <select
                    class="form-select"
                    aria-label="Default select example"
                  >
                    <option>Select Doctors</option>
                    <option>Available Today</option>
                    <option>Available Tommorow</option>
                    <option>Available in next 7 days</option>
                  </select>
                </div>
              </div>
              <!-- COLUMNS 3 -->
              <div class="search-filter-box">
                <h4 class="search-filter-title">Gender</h4>
                <div class="search-filter-content">
                  <select
                    class="form-select"
                    aria-label="Default select example"
                  >
                    <option>Male Doctor</option>
                    <option>Female Doctor</option>
                  </select>
                </div>
              </div>
              <!-- COLUMNS 4 -->
              <div class="search-filter-box">
                <h4 class="search-filter-title">Consultation Fee</h4>
                <div class="search-filter-content">
                  <select
                    class="form-select"
                    aria-label="Default select example"
                  >
                    <option>Free</option>
                    <option>100-200</option>
                    <option>200-500</option>
                    <option>500+</option>
                  </select>
                </div>
              </div>
              <!-- COLUMNS 5 -->
              <div class="search-filter-box">
                <h4 class="search-filter-title">Availability</h4>
                <div class="search-filter-content">
                  <select
                    class="form-select"
                    aria-label="Default select example"
                  >
                    <option>Sort By</option>
                    <option>Earliest Available</option>
                    <option>Price - Low to High</option>
                    <option>Price - High to Low</option>
                    <option>Years of Experience</option>
                    <option>Recommendation</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </aside>
      </div>
      <!-- Side bar END -->
    </div>
  </div>
</div>
