<div class="wrapper">
  <div class="container-fliud bg shadow">
    <div class="container">
      <div class="row">
        <div class="col-md-5 text-center py-2 mx-auto">
          <div class="small text-white">Search for Doctors...</div>
          <div class="input-group">
            <input
              class="form-control border-end-0 border rounded-pill typesearch"
              placeholder="Search for Doctors..."
              id="search"
            />
            <span class="input-group-append">
              <button
                class="btn btn-outline-secondary bg-white border-bottom-0 border rounded-pill ms-n5"
                type="button"
              >
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-3 pb-5">
    <div class="row">
      <div class="col-md-12 section">
        <h1><strong>Doctors</strong> Listing</h1>
        <p>
          <span
            >Discover the latest and ultimate APIs that will get you connected
          </span>
        </p>
      </div>

      <div class="col-md-3 1 mb-3">
        <div class="api-card" style="opacity: 1">
          <div
            class="card-header d-flex justify-content-center align-items-center ng-star-inserted"
          >
            <span
              class="dds__icons dellIcons1 fa fa-file-code-o"
              style="width: 60%; opacity: 0.8"
            ></span
            ><span
              class="dds__icons dellIcons2 fa fa-file-code-o"
              style="width: 90%; opacity: 1"
            ></span
            ><span
              class="dds__icons dellIcons3 fa fa-file-code-o"
              style="width: 40%; opacity: 0.7"
            ></span>
          </div>
          <!---->
          <div class="card-body">
            <div class="status-card">
              <div class="state-pills mb-2">
                <span class="enabled">Enabled</span>
              </div>
            </div>
            <h1 class="api-title line-clamp to-overview align-text">
              3PartyProvisioningServiceWebHookReusable
            </h1>
            <!----><a class="api-category my-3" title="Cloud">Cloud</a>
            <div class="api-metrics mt-3">
              <div class="metric-icon margin-right">
                <div class="metric-data">
                  <p class="data-value">
                    <i class="fa fa-clock-o cardicon"></i> None
                  </p>
                  <p class="data-label">Latency</p>
                </div>
              </div>
              <span class="separator"></span>
              <div class="metric-icon margin-right">
                <div class="metric-data">
                  <p class="data-value">
                    <i class="fa fa-refresh cardicon"></i> None
                  </p>
                  <p class="data-label">Success rate</p>
                </div>
              </div>
            </div>
          </div>
          <!---->
          <div class="card-footer mt-5">
            <div role="group" class="btn-group">
              <button type="button" class="btn-bottom-card">
                <span> View More</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 2 mb-3">
        <div class="api-card" style="opacity: 1">
          <div
            class="card-header d-flex justify-content-center align-items-center ng-star-inserted"
          >
            <span
              class="dds__icons dellIcons1 fa fa-snowflake-o"
              style="width: 60%; opacity: 0.8"
            ></span
            ><span
              class="dds__icons dellIcons2 fa fa-snowflake-o"
              style="width: 90%; opacity: 1"
            ></span
            ><span
              class="dds__icons dellIcons3 fa fa-snowflake-o"
              style="width: 40%; opacity: 0.7"
            ></span>
          </div>
          <!---->
          <div class="card-body">
            <div class="status-card">
              <div class="state-pills mb-2">
                <span class="enabled">Enabled</span>
              </div>
            </div>
            <h1 class="api-title line-clamp to-overview align-text">
              3PartyProvisioningServiceWebHookReusable
            </h1>
            <!----><a class="api-category my-3" title="Cloud">Cloud</a>
            <div class="api-metrics mt-3">
              <div class="metric-icon margin-right">
                <div class="metric-data">
                  <p class="data-value">
                    <i class="fa fa-clock-o cardicon"></i> None
                  </p>
                  <p class="data-label">Latency</p>
                </div>
              </div>
              <span class="separator"></span>
              <div class="metric-icon margin-right">
                <div class="metric-data">
                  <p class="data-value">
                    <i class="fa fa-refresh cardicon"></i> None
                  </p>
                  <p class="data-label">Success rate</p>
                </div>
              </div>
            </div>
          </div>
          <!---->
          <div class="card-footer mt-5">
            <div role="group" class="btn-group">
              <button type="button" class="btn-bottom-card">
                <span> View More</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 3 mb-3">
        <div class="api-card" style="opacity: 1">
          <div
            class="card-header d-flex justify-content-center align-items-center ng-star-inserted"
          >
            <span
              class="dds__icons dellIcons1 fa fa-tasks"
              style="width: 60%; opacity: 0.8"
            ></span
            ><span
              class="dds__icons dellIcons2 fa fa-tasks"
              style="width: 90%; opacity: 1"
            ></span
            ><span
              class="dds__icons dellIcons3 fa fa-tasks"
              style="width: 40%; opacity: 0.7"
            ></span>
          </div>
          <!---->
          <div class="card-body">
            <div class="status-card">
              <div class="state-pills mb-2">
                <span class="enabled">Enabled</span>
              </div>
            </div>
            <h1 class="api-title line-clamp to-overview align-text">
              3PartyProvisioningServiceWebHookReusable
            </h1>
            <!----><a class="api-category my-3" title="Cloud">Cloud</a>
            <div class="api-metrics mt-3">
              <div class="metric-icon margin-right">
                <div class="metric-data">
                  <p class="data-value">
                    <i class="fa fa-clock-o cardicon"></i> None
                  </p>
                  <p class="data-label">Latency</p>
                </div>
              </div>
              <span class="separator"></span>
              <div class="metric-icon margin-right">
                <div class="metric-data">
                  <p class="data-value">
                    <i class="fa fa-refresh cardicon"></i> None
                  </p>
                  <p class="data-label">Success rate</p>
                </div>
              </div>
            </div>
          </div>
          <!---->
          <div class="card-footer mt-5">
            <div role="group" class="btn-group">
              <button type="button" class="btn-bottom-card">
                <span> View More</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 4 mb-3">
        <div class="api-card" style="opacity: 1">
          <div
            class="card-header d-flex justify-content-center align-items-center ng-star-inserted"
          >
            <span
              class="dds__icons dellIcons1 fa fa-cogs"
              style="width: 60%; opacity: 0.8"
            ></span
            ><span
              class="dds__icons dellIcons2 fa fa-cogs"
              style="width: 90%; opacity: 1"
            ></span
            ><span
              class="dds__icons dellIcons3 fa fa-cogs"
              style="width: 40%; opacity: 0.7"
            ></span>
          </div>
          <!---->
          <div class="card-body">
            <div class="status-card">
              <div class="state-pills mb-2">
                <span class="enabled">Enabled</span>
              </div>
            </div>
            <h1 class="api-title line-clamp to-overview align-text">
              3PartyProvisioningServiceWebHookReusable
            </h1>
            <!----><a class="api-category my-3" title="Cloud">Cloud</a>
            <div class="api-metrics mt-3">
              <div class="metric-icon margin-right">
                <div class="metric-data">
                  <p class="data-value">
                    <i class="fa fa-clock-o cardicon"></i> None
                  </p>
                  <p class="data-label">Latency</p>
                </div>
              </div>
              <span class="separator"></span>
              <div class="metric-icon margin-right">
                <div class="metric-data">
                  <p class="data-value">
                    <i class="fa fa-refresh cardicon"></i> None
                  </p>
                  <p class="data-label">Success rate</p>
                </div>
              </div>
            </div>
          </div>
          <!---->
          <div class="card-footer mt-5">
            <div role="group" class="btn-group">
              <button type="button" class="btn-bottom-card">
                <span> View More</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 1 mb-3">
        <div class="api-card" style="opacity: 1">
          <div
            class="card-header d-flex justify-content-center align-items-center ng-star-inserted"
          >
            <span
              class="dds__icons dellIcons1 fa fa-file-code-o"
              style="width: 60%; opacity: 0.8"
            ></span
            ><span
              class="dds__icons dellIcons2 fa fa-file-code-o"
              style="width: 90%; opacity: 1"
            ></span
            ><span
              class="dds__icons dellIcons3 fa fa-file-code-o"
              style="width: 40%; opacity: 0.7"
            ></span>
          </div>
          <!---->
          <div class="card-body">
            <div class="status-card">
              <div class="state-pills mb-2">
                <span class="enabled">Enabled</span>
              </div>
            </div>
            <h1 class="api-title line-clamp to-overview align-text">
              3PartyProvisioningServiceWebHookReusable
            </h1>
            <!----><a class="api-category my-3" title="Cloud">Cloud</a>
            <div class="api-metrics mt-3">
              <div class="metric-icon margin-right">
                <div class="metric-data">
                  <p class="data-value">
                    <i class="fa fa-clock-o cardicon"></i> None
                  </p>
                  <p class="data-label">Latency</p>
                </div>
              </div>
              <span class="separator"></span>
              <div class="metric-icon margin-right">
                <div class="metric-data">
                  <p class="data-value">
                    <i class="fa fa-refresh cardicon"></i> None
                  </p>
                  <p class="data-label">Success rate</p>
                </div>
              </div>
            </div>
          </div>
          <!---->
          <div class="card-footer mt-5">
            <div role="group" class="btn-group">
              <button type="button" class="btn-bottom-card">
                <span> View More</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 2 mb-3">
        <div class="api-card" style="opacity: 1">
          <div
            class="card-header d-flex justify-content-center align-items-center ng-star-inserted"
          >
            <span
              class="dds__icons dellIcons1 fa fa-clone"
              style="width: 60%; opacity: 0.8"
            ></span
            ><span
              class="dds__icons dellIcons2 fa fa-clone"
              style="width: 90%; opacity: 1"
            ></span
            ><span
              class="dds__icons dellIcons3 fa fa-clone"
              style="width: 40%; opacity: 0.7"
            ></span>
          </div>
          <!---->
          <div class="card-body">
            <div class="status-card">
              <div class="state-pills mb-2">
                <span class="enabled">Enabled</span>
              </div>
            </div>
            <h1 class="api-title line-clamp to-overview align-text">
              3PartyProvisioningServiceWebHookReusable
            </h1>
            <!----><a class="api-category my-3" title="Cloud">Cloud</a>
            <div class="api-metrics mt-3">
              <div class="metric-icon margin-right">
                <div class="metric-data">
                  <p class="data-value">
                    <i class="fa fa-clock-o cardicon"></i> None
                  </p>
                  <p class="data-label">Latency</p>
                </div>
              </div>
              <span class="separator"></span>
              <div class="metric-icon margin-right">
                <div class="metric-data">
                  <p class="data-value">
                    <i class="fa fa-refresh cardicon"></i> None
                  </p>
                  <p class="data-label">Success rate</p>
                </div>
              </div>
            </div>
          </div>
          <!---->
          <div class="card-footer mt-5">
            <div role="group" class="btn-group">
              <button type="button" class="btn-bottom-card">
                <span> View More</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 3 mb-3">
        <div class="api-card" style="opacity: 1">
          <div
            class="card-header d-flex justify-content-center align-items-center ng-star-inserted"
          >
            <span
              class="dds__icons dellIcons1 fa fa-barcode"
              style="width: 60%; opacity: 0.8"
            ></span
            ><span
              class="dds__icons dellIcons2 fa fa-barcode"
              style="width: 90%; opacity: 1"
            ></span
            ><span
              class="dds__icons dellIcons3 fa fa-barcode"
              style="width: 40%; opacity: 0.7"
            ></span>
          </div>
          <!---->
          <div class="card-body">
            <div class="status-card">
              <div class="state-pills mb-2">
                <span class="enabled">Enabled</span>
              </div>
            </div>
            <h1 class="api-title line-clamp to-overview align-text">
              3PartyProvisioningServiceWebHookReusable
            </h1>
            <!----><a class="api-category my-3" title="Cloud">Cloud</a>
            <div class="api-metrics mt-3">
              <div class="metric-icon margin-right">
                <div class="metric-data">
                  <p class="data-value">
                    <i class="fa fa-clock-o cardicon"></i> None
                  </p>
                  <p class="data-label">Latency</p>
                </div>
              </div>
              <span class="separator"></span>
              <div class="metric-icon margin-right">
                <div class="metric-data">
                  <p class="data-value">
                    <i class="fa fa-refresh cardicon"></i> None
                  </p>
                  <p class="data-label">Success rate</p>
                </div>
              </div>
            </div>
          </div>
          <!---->
          <div class="card-footer mt-5">
            <div role="group" class="btn-group">
              <button type="button" class="btn-bottom-card">
                <span> View More</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 4 mb-3">
        <div class="api-card" style="opacity: 1">
          <div
            class="card-header d-flex justify-content-center align-items-center ng-star-inserted"
          >
            <span
              class="dds__icons dellIcons1 fa fa-user"
              style="width: 60%; opacity: 0.8"
            ></span
            ><span
              class="dds__icons dellIcons2 fa fa-user"
              style="width: 90%; opacity: 1"
            ></span
            ><span
              class="dds__icons dellIcons3 fa fa-user"
              style="width: 40%; opacity: 0.7"
            ></span>
          </div>
          <!---->
          <div class="card-body">
            <div class="status-card">
              <div class="state-pills mb-2">
                <span class="enabled">Enabled</span>
              </div>
            </div>
            <h1 class="api-title line-clamp to-overview align-text">
              3PartyProvisioningServiceWebHookReusable
            </h1>
            <!----><a class="api-category my-3" title="Cloud">Cloud</a>
            <div class="api-metrics mt-3">
              <div class="metric-icon margin-right">
                <div class="metric-data">
                  <p class="data-value">
                    <i class="fa fa-clock-o cardicon"></i> None
                  </p>
                  <p class="data-label">Latency</p>
                </div>
              </div>
              <span class="separator"></span>
              <div class="metric-icon margin-right">
                <div class="metric-data">
                  <p class="data-value">
                    <i class="fa fa-refresh cardicon"></i> None
                  </p>
                  <p class="data-label">Success rate</p>
                </div>
              </div>
            </div>
          </div>
          <!---->
          <div class="card-footer mt-5">
            <div role="group" class="btn-group">
              <button type="button" class="btn-bottom-card">
                <span> View More</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
